body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    border: 5px solid black;
    flex-direction: row;
    justify-content: center;
    width: 940px;
    align-items: stretch;
}

.cafeteria{
/*     border: 5px solid red; */
    background: rgb(140, 70, 0);
    display: flex;
    flex-direction: column;
    width: 42.5%;
}

.rio{
    width: 15%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.baños{
/*     border: 5px solid green; */
    background: rgb(140, 70, 0);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    width: 42.5%;
}

.iguales{
    /* border: 5px solid black ; */
    background: rgb(0, 170, 0);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.trio{
    /* border: 5px solid black ; */
    background: rgb(0, 170, 0);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.parejas{
    /* border: 5px solid black ; */
    background: rgb(140, 70, 0);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mvp{
    /* border: 5px solid black ; */
    background: rgb(0, 170, 0);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dispares{
    /* border: 5px solid black ; */
    background: rgb(140, 70, 0);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.unico{
    /* border: 5px solid black ; */
    background: rgb(140, 70, 0);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icono.zona{
    width: 10%;
}

.top-section{
    display: flex;
    flex-direction: column;
    /* border: 5px solid olivedrab; */
    width: 90%;
    height: 100%;
}

.rio .top-section{
    display: flex;
    flex-direction: column;
    /* border: 5px solid olivedrab; */
    width: 90%;
    height: 100%;
/*     align-items: center;
    justify-content: space-around; */
}

.separador{
    width: 50px;
    height: 50px;
}

.campo-0, .campo-1, .campo-2, .campo-4, .campo-5, .campo-6{
    width: 90%;
    height: 100%;
    border-radius: 15px;
    border: 5px solid black;
    margin: 10px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.campo-3{
    width: 80%;
    height: 70%;
    margin: 10px;
    border-radius: 15px;
    border: 5px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.agregar-dino{
    display: flex;
    width: 95%;
    height: 50%;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
/*     border: 1px solid black; */
}

.agregar-dino button{
    width: 20%;
    border-radius: 15px;
    margin: 0 5px;
}

#agregar-rio{
    display: flex;
    width: 95%;
    height: 40%;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}

#agregar-rio button{
    width: 50%;
    height: 30%;
    border-radius: 15px;
    margin: 2px;
}

.confirmar-valor{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     border: 1px solid black; */
}

.confirmar-valor p{
    display: flex;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 10px;
}

.confirmar-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 3px;
}

.confirmar-botones button{
    width: 45%;
    border-radius: 15px;
}

.triceratops{
    background: yellow;
}
.apatosaurio{
    background: green;
}
.braquiosaurio{
    background: plum;
}
.espinosaurio{
    background: orange;
}
.t-rex{
    background: red;
}
.estegosaurio{
    background: rgb(0, 157, 255);
}
.invalid{
    background: gray;
}

.campo-3 .dino-agregado{
    width: 30%;
    height: 10%;
    border: 2px solid black;
}

.dino-agregado{
    width: 10%;
    height: 30%;
    border: 2px solid black;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.bloque-puntaje{
/*     border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.cartel{
    width: 50px;
    display: flex;
}

@media screen and (max-width: 780px) {
    body{
        width: 760px;
    }

    main{
        flex-direction: column;
        align-items: center;
        width: 760px;
    }

    .cafeteria, .rio, .baños{
        width: 100%;
    }

    .rio{
        height: 100px;
        flex-direction: row;
        justify-content: center;
    }

    .campo-3{
        width: 90%;
        height: 100%;
        border-radius: 15px;
        border: 5px solid black;
        margin: 10px;
        background: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .campo-3 .dino-agregado{
        width: 10%;
        height: 20%;
    }

    #agregar-rio{
        display: flex;
        width: 95%;
        height: 50%;
        margin: 5px;
        flex-direction: row;
        justify-content: center;
    }
    #agregar-rio button{
        width: 20%;
        height: 90%;
        border-radius: 15px;
        margin: 5px;
    }
}

@media screen and (max-width: 425px){
    body{
        width: 420px;
    }

    main{
        width: 420px;
    }
}